* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white: #fff;
    --blue: #0451DD;
    --black: #000;
    --soft-black: #3C3C3C;
    --ligth-blue: #00ADEE;
    --dark-blue: #00407B;
    --gray: #C4C4C4;
    --gray-2: #AFAFAF;
    --gray-footer: #455660;
    --gray-text-footer: #808080;
}

body {
    font-family: 'DIN_Medium', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}
ul li {
    list-style: none;
}

header {
    display: flex;
    flex-direction: column;
    filter: url('./assets/img/backgtound-header.png');
    background-repeat: no-repeat;
    background-size: 359px 756px;
    background-color: var(--black);
    height: auto;
    width: 100%;
    color: var(--white);
    position: relative;
}

header .background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 800px;
}

header .contain-nav-logo {
    display: flex;
    justify-content: space-between;
    padding: 45px 20px;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header h1 {
    margin: 15px 20px;
    font-size: 30px;
}

header p {
    margin: 0 20px;
    line-height: 1.4rem;
    padding-right: 27px;
}

header .button-add {
    margin: 25px 20px;
    color: var(--white);
    background-color: var(--blue);
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 10px;
    width: 180px;
    height: 45px;
}

header .container-main-images {
    margin-top: 70px;
}

header .contain-images {
    display: grid;
    grid-template-columns: 20px 68px;
    margin: 0 20px;
}

header .contain-images .point {
    position: relative;
    top: calc(50% - 68px);
}

header .contain-images .imagen-1 {
    position: absolute;
    left: calc(50% - 72px);
    bottom: calc(50% - 218px);
    height: 196px;
}

header .contain-images-2 {
    display: grid;
    grid-template-columns: 214px 77px auto 21px;
    margin: 0 20px;

}

header .contain-images-2 .curve-blue {
    position: relative;
    top: calc(50% - 20px);

}

header .contain-images-2 .imagen-2 {
    z-index: 1;
    height: 200px;
}

header .contain-social-media {
    display: flex;
    margin: 56px 20px 40px 20px;
    gap: 10px;
}

header .contain-social-media img {
    padding: 10px;
    height: 40px;
}
