main .main-plans {
    text-align: center;
}

main .main-plans .contain-card-plans {
    display: flex;
    justify-content: center;
}

main .main-plans .card-plan {
    width: 329px;
    flex-direction: column;
    height: 467px;
    align-items: flex-start;
    padding: 30px 20px;
}

main .main-plans .card-plan img {
    position: absolute;
}

.card-plan h2 {
   margin: 90px 20px 0;
}

main .card-plan .desc-card {
    display: flex;
    flex-direction: column;
    line-height: 1.25rem;
    text-align: left;
}

main .card-plan .desc-card .description {
    font-size: 0.85rem;
    line-height: 1.25rem;
    font-weight: bold;
    color: var(--black);
    margin-bottom: 20px;
}

main .card-plan .desc-card .list {
    font-size: 0.75rem;
    line-height: 1.25rem;
    margin: 0;
    margin-left: 49px;
    color: var(--soft-black);
}

main .card-plan .desc-card button {
    padding: 5px;
    width: 122px;
    margin: 16px;
    background-color: var(--dark-blue);
    color: var(--white);
    font-weight: bold;
    border-radius: 4px;
    border-color: var(--dark-blue);
}

main .main-plans .card-plan.blue {
    width: 363px;
    height: 542px;
}

main .main-plans .card-plan.blue .desc-card .description {
    color: var(--white);
}

main .main-plans .card-plan.blue .desc-card .list {
    color: var(--white);
}

main .main-plans .card-plan.blue .desc-card button {
    background-color: var(--white);
    color: var(--dark-blue);
}

main .main-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main .main-form .text {
    margin: 0 99px;
}

main .main-form .text h2 {
    margin: 100px 0 10px;
}

main .main-form .text p {
    margin: 0;
}

main .main-form .background-down {
    left: calc(100% - 661px);
    bottom: calc(100% - 3367px);
    gap: 300px;
}

main .main-form .background-down .back-2 {
    height: 278px;
    margin-top: 149px;
    padding: 0;
}

main .main-form .form-contact {
    margin: 100px 179px 90px 0;
}

main .form-contact textarea {
    width: 607px;
}


main .main-form .form-contact input {
    width: 297px;
}

main .main-form .form-contact .contain-catcha-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

main .form-contact .toogle {
    gap: 22px;
}

main .main-form .form-contact .contain-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}

main .form-contact .button-form {
    position: relative;
    left: calc(100% - 182px);
    margin-bottom: 20px;
}

footer .footer-content {
    flex-direction: row;
    justify-content: space-between;
    margin: 80px 50px;
}

.footer-content .contain-links {
    display: flex;
    gap: 60px;
    align-items: flex-end;
    padding-bottom: 42px;
    margin-right: 50px;
}

.footer-content .link-webs-ypf {
    margin: 0;
}

.footer-content .link-webs-ypf img {
    padding-left: 45px;
}

.footer-content .link-section-web {
    margin: 0;
}

.footer-content .contain-social-media {
    position: absolute;
    right: calc(50% - 203px);
}

.footer-content .contain-social-media .social-media {
    margin-top: 10px;
}
